body {
    background-color: #2C3930
    font-family: Arial, Helvetica, sans-serif;
    color: #A27B5C;
    font-size: 16px;
    line-height: 1.6;
    margin: 0 auto; /* Center the body */
    padding: 0;
    max-width: 1200px; /* Limit the width for better readability */
}

header {
    padding: 20px;
    text-align: center;
}

.banner{
     background-image: url(images/scenory.jpg);
     text-align: center;
}

header h1 {
    color: #A27B5C;
    font-size: 2.5em;
}

nav a {
    color: #A27B5C;
    text-decoration: none;
    margin: 0 15px;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #A27B5C;
    text-decoration: underline;
}

.section {
    padding: 40px 20px;
    text-align: center;
}

.hero {
    background-image: url('hero.jpg');
    background-size: cover;
    background-position: center;
    color: #3F4F44;
    padding: 150px 20px;
}

.hero-content {
    max-width: 800px;
    margin: 0 auto;
}

.hero h2 {
    font-size: 3em;
    font-weight: bold;
    margin-bottom: 20px;
}

.hero p {
    font-size: 1.2em;
    margin-bottom: 30px;
}

.cta-button {
    background-color: #A27B5C;
    color: #3F4F44;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: #A27B5C;
}

.featured-treks .trek-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    max-width: 1200px;
    margin: 20px auto;
}

.trek {
    border: 1px solid #ddd;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center; /* center text inside trek div*/
}

.trek img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.learn-more {
    background-color: #A27B5C; /* Olive Green */
    color:#FFFFFF; /* Brown */
    padding: 8px 15px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.learn-more:hover {
    background-color: #556B2F; /* Darker Olive Green */
}


.destinations .destination-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    max-width: 1000px;
    margin: 20px auto;
}

.destination {
    background-color: #e0e0e0;
    padding: 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.destination:hover {
    background-color: #d0d0d0;
}

.why-choose-us .usp-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    max-width: 900px;
    margin: 20px auto;
}

.usp img {
    width: 80px;
    height: 80px;